.header {
	width: 75%;
	margin: 0px auto;
	
}

.header h1 a{
	width: 100%;
	float:left;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #1C97CA;
	font-size: 56px;
	font-weight: bolder;
	padding: 40px 0px 10px 0px;
	display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.header p{
	width: 100%;
	float: left;
        font-family: 'LiHei Pro','Microsoft JhengHei', sans-serif;
        color: #000;
        font-size: 16px;
        padding: 10px 0px 40px 0px;
        display: block;
        text-transform: uppercase;
}
